.dialogs__item {
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #e0e0e0;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    &:hover {
        background-color: #f0f0f0;
    }
}

.dialogs__item-info {
    flex: 1;
    margin-left: 15px;
}

.dialogs__item-info-top p {
    font-weight: bold;
    margin: 0;
    font-size: 16px; /* Увеличение размера шрифта имени пользователя */
    color: #333; /* Изменение цвета имени пользователя для более контрастного вида */
}

.dialogs__item-info-bottom {
    font-size: 14px;
    color: #666;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 240px;
}
