.message {
    display: flex;
    align-items: flex-end; /* Выравнивание аватарки внизу */
    &__avatar {
        img {
            width: 33px;
            height: 33px;
            border-radius: 50px;
            margin-right: 13px;
            margin-bottom: 18px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
    }

    &__bubble {
        max-width: 300px;
        background: #3674ff;
        border-radius: 12px 12px 12px 0px;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
        padding-right: 6px;
        padding-left: 6px;
        padding-top: 6px;
    }

    &__date {
        color: #808080; /* Цвет даты */
        font-size: 14px;
    }

    &__text {
        font-size: 14px;
        color: white;
        word-break: break-word;
        border-radius: 12px 15px 12px 0px;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.02);
    }

    &--me { /* Стили для сообщения, отправленного мной */
        flex-direction: row-reverse; /* Зеркальное отображение сообщения */
        text-align: right; /* Выравнивание текста по правому краю */
    }

    &--me .message__text {
        border-radius: 15px 12px 0px 12px;
    }

    &--me .message__bubble {
        border-radius: 12px 12px 0px 12px;
        background: #4caf50; /* Цвет фона для сообщения, отправленного мной */
    }

    &--me .message__date {
        margin-right: 0; /* Убираем отступ справа */
        margin-left: 4px; /* Добавляем отступ слева */
    }

    &--me .message__avatar {
        img {
            width: 33px;
            height: 33px;
            border-radius: 50px;
            margin-left: 13px;
            margin-right: 0;
        }
    }
}
